.info-box {
  justify-content: center;
  border: 2px solid rgba(241, 28, 14, 0.55);
  box-sizing: border-box;
  font-size: 18pt;
  margin-top: 6em;
  padding: 0.1em 0.5em 0.1em 0.5em;
  float: left;
  max-width: 500px;
}

.chart {
  max-width: fit-content;
  margin: 0 auto;
  padding-top: 1em;
  padding-bottom: 1em;
  float: left;
}

.chart-div {
  display: table;
  margin: 0 auto;
  padding-right: 2em;
}

.calender-wrap--first-p {
  justify-content: center;
  background: rgba(196, 196, 196, 0.486);
  border: 0.1px solid #000000;
  box-sizing: border-box;
  display: inline-block;
  font-size: 18pt;
  margin-top: 1em;
  padding: 1em 1em 1em 1em;
}

.calender-wrap--second-p {
  justify-content: center;
  border: 2px solid rgba(241, 28, 14, 0.55);
  box-sizing: border-box;
  display: inline-block;
  font-size: 18pt;
  margin-top: 1em;
  padding: 1em 1em 1em 1em;
}