.info-box--carbon {
/*   justify-content: center;
  border: 3px solid rgba(241, 28, 14, 0.55);
  box-sizing: border-box;
  font-size: 18pt;
  margin-top: 1em;
  padding: 0.1em 0.5em 0.1em 0.5em;
  display: inline-block;
 */

  justify-content: center;
  background: rgba(196, 196, 196, 0.62);
  border: 0.1px solid #000000;
  box-sizing: border-box;
  display: inline-block;
  font-size: 18pt;
  margin-top: 1em;
  padding: 0.1em 0.5em 0.1em 0.5em;
}

.info-box--years {
  border: 3px solid rgba(241, 28, 14, 0.55);
  box-sizing: border-box;
  /* display: inline-block; */
  /* float: left; */
  font-size: 18pt;
/*   margin-top: 8em;
  margin-left: 4em; */
  padding: 0.1em 0.5em 0.1em 0.5em;
  max-width: 700px;

  margin: 0 auto;

}

.recycling_bin {
  max-width: 300px;
  max-height: 300px;
}

.recycling_bin_container {
  font-size: 18pt;
  font-weight: bold;
  padding-top: 1em;
  padding-bottom: 1em;
  /* float: left; */
  /* margin-top: 2em; */
}

/* .info-box--recycle {
  display: table;
  margin: 0 auto;
  padding-right: 2em;
}
   */