.summary-container {
    display: table;
    margin: 0 auto;
    margin-top: 2em;
}

.summary-box {
    /* max-width: fit-content; */
    padding: 1em 1em 1em;
    float: left;
    border: 2px solid rgba(210, 244, 189, 0.91);
    color: #282c34;
}

#comparison1 {
    margin-right: 2em;
    margin-left: 1em;
    height: 550px;
    width: 380px;
}

.carbon-chart {
    max-width: fit-content;
    margin: 0 auto;
    padding-top: 1em;
    padding-bottom: 1em;
  }

#comparison2 {
    margin-right: 2em;
    height: 550px;
    width: 380px;
}

.bulb {
    max-width: 80px;
    max-height: 80px;
    margin-top: 2em;
}

#comparison3 {
    margin-right: 1em;
    height: 550px;
    width: 380px;
}

.footer {
    margin-bottom: 3em;
}

.recycling_bin-summary {
    max-width: 100px;
    max-height: 100px;
    margin-top: 2em;
    margin-bottom: 1em;
}

#unlit-alone{
    max-width: 100px;
    max-height: 100px;
    margin-top: 6em;
    margin-bottom: 1em;
}

.take-away-list {
    list-style: none;
    font-size: 14pt;
    color: #282c34;
}